.most-popular-item{
    flex: 1 25%;
}

.card-wrapper{
    background-color: var(--color-dark);
    border-radius: calc(var(--border-radius-primary) / 2);
    padding: calc(var(--padding-primary) / 2);
    margin: calc(var(--margin-primary) / 5);
}

.card-wrapper img{
    width: 100%;
    border-radius: calc(var(--border-radius-primary) / 4);
    margin-bottom: calc(var(--margin-primary) / 2);

}

.most-popular-item-content{
    display: flex;
    justify-content: space-between;
}

.most-popular-item-title{
    font-size: 14px;
    line-height: 1.5rem;
}
